<p>
  Authorize Rhobbler to start scrobbling tracks to your Last.fm profile.
  First, <a href="{{lastfm_authorize_url}}" target="_blank">go to last.fm</a> (opens in a new window) and authorize Rhobbler.
</p>

<p>
  Then, close that window and <a href="{{registration_next_url}}">continue to configure your Rhapsody account</a>.
</p>

