<h2>The dead simple tool to submit your Rhapsody listening information to Last.FM</h2>
<div id="preauthorize">
  To start using Rhobbler, you first need to authorize scrobbling on Last.fm below.
  <a href="{{new_user_url}}" id="authorize_start">Click here</a> to start.
</p>
