<h2>The dead simple tool to submit your Rhapsody listening information to Last.FM</h2>
<p>
  To start using Rhobbler, you first need to
  <a href="{{lastfm_authorize_url}}">authorize scrobbling</a>
  to your Last.fm account. Last.fm will redirect you back here when you're done. We'll wait.
</p>

