@mixin header-base {
  font-weight: normal;
  margin: 0 0 0.25em 0;
}

@mixin rounded-corner($horizontal, $vertical, $radius) {
  border-#{$horizontal}-#{$vertical}-radius: $radius;
  -moz-border-#{$horizontal}-#{$vertical}-radius: $radius;
  -webkit-border-#{$horizontal}-#{$vertical}-radius: $radius;
}

@mixin rounded-top($radius) {
  @include rounded-corner(top, left, $radius);
  @include rounded-corner(top, right, $radius);
}

@mixin rounded-bottom($radius) {
  @include rounded-corner(bottom, left, $radius);
  @include rounded-corner(bottom, right, $radius);
}

@mixin rounded($radius) {
  @include rounded-top($radius);
  @include rounded-bottom($radius);
}

body {
  font-family: Verdana;
  color: #111111;
  margin: 0px;
  font-size: 16px;
}

a, a:visited {
  text-decoration: underline;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

section {
  margin: 0 0 1em 1em;
}

h1 {
  @include header-base;
  font-size: 3em;
  letter-spacing: 3px;
  color: #306090;
}

h2 {
  @include header-base;
  font-size: 1.2em;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  border-top: 1px dotted #CCC;
}
