@import 'layout';
$radius: 10px;

section#recent_scrobbles {
  div.scrobble {
    width: 30%;
    background-color: #BED4E9;
    margin: 0 0 1px 0;
    padding: 0.25em 0.5em;

    &:first-child {
      @include rounded-top($radius);
    }

    &:last-child {
      @include rounded-bottom($radius);
    }

    time {
      display: block;
      color: #333;
      font-size: 0.8em;
    }
  }
}

